<div class='grid-container'>
  <div class='gridbtns'>
    <button><h2>Top Recipes</h2></button>
    <button><h2>Latest</h2></button>
    <button><h2>Latest</h2></button>
    <div class='dropdown'>
      <button class='dropbtn'><h2>Categories</h2></button>
        <div class='dropdown-content'>
      {{#each categories as |category|}}
          <a href={{category.id}}>{{category.cat_name}}</a>
        </div>
      {{/each}}
    </div>
  </div>
    <div class='box'>
  {{#each recipes as |recipe|}}
      <img src={{recipe.image_url}} alt={{recipe.name}} />
      {{recipe.name}}
  {{/each}}
    </div>
</div>