<div class='grid-container'>
  {{#each recipes as |recipe|}}
    <div class='box'>
      <img
        src='/images/{{recipe.filename}}'
        class='rounded py-9 px-9 d-flex align-content-center'
        height='130px'
        width='216px'
        alt='{{recipe.name}}'
      />
      <ul>
        <li> <strong>name:</strong> {{recipe.name}}</li>
        <!--         <li>
          <strong>ingredients:</strong>
          {{recipe.ingredients}}
        </li>
        <li>
          <strong>recipe:</strong>
          {{recipe.method}}
        </li>
        <li>
          <strong>prep time:</strong>
          {{recipe.prepTime}}
        </li>
        <li>
          <strong>date created:</strong>
          {{recipe.dateCreated}}
        </li>
        <li>
          <strong>likes :</strong>
          {{recipe.likes}}
        </li>
        <li>
          <strong>has nuts:</strong>
          {{recipe.has_nuts}}
        </li>
        <li>
          <strong>vegan:</strong>
          {{recipe.vegan}}
        </li> -->
      </ul>
    </div>
  {{/each}}
</div>