<div class='login-content'>
  <h1 style=" font-weight: bold; line-height: 1;">Welcome, {{name}}!</h1>
  <div class="recipe-content"> <a class='add-rep ml-4' href='/api/add-recipe'>
   <h4 class ="btn-add">Add Recipe</h4> </a>
   </div> 
</div>
<br />

  {{#if recipes}}
    <div class='recipe-list col-sm'>
      <h2>User Recipes:</h2>
      {{#each recipes as |recipe|}}
         <div class='row mb-2'>
          {{> profile-recipe}}
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger del-per'
              data-id='{{recipe.id}}'
            ><i class='fa-solid fa-trash'></i></button>
          </div>

        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
<div class='ml-5 d-flex row'>
  {{#if UserFavRecipes}}
    <div class='recipe-list col-sm'>
      <h2>Favourite recipes:</h2>
      {{#each UserFavRecipes}}
        <div class='row mb-2'>
          <div class='col-md-8'>
            <a href='/recipes/{{id}}'><h4>{{name}}</h4>
              <img
                src='/assets/uploads/{{photo}}'
                class='rounded py-9 px-9 d-flex align-content-center'
                height='350px'
                width='500px'
                alt='{{name}}'
              /></a>
            <a href='/recipes/{{id}}'>{{recipe.name}}</a>
          </div>
          <div class='col-md-4'>
            <button class='delBut btn btn-sm btn-danger' user-id='{{id}}'><i
                class='fa-solid fa-trash'
              ></i></button>
          </div>
      </div> 
    {{/each}}
    </div>
  {{/if}}
<br />
<script src='/js/profile.js'></script>