<div class='login-content'>
  <div class='recipe-content'>
    <img
      src='/assets/uploads/{{recipe.photo}}'
      class='rounded py-9 px-9 d-flex align-content-center'
      height='130px'
      width='216px'
      alt='{{recipe.name}}'
    />
  </div>
</div>
<div class='login-content'>
  <div><h2>{{recipe.name}}
      <i
        class='fa fa-heart'
        style='color: rgb(78, 3, 3);'
        aria-hidden='true'
      ></i></h2></div>
  <h3>PrepTime</h3>
  <h5>{{recipe.prep_time}} mins</h5>
  <h3>Ingredients (
    {{#if recipe.vegan}}V
    {{else}}
      NV
    {{/if}}
    {{#if recipe.has_nuts}}/Contain nuts{{/if}}
    )</h3>{{recipe.ingredients}}
  <h3>Method</h3>{{recipe.method}}
  {{recipe.likes}}
  likes
</div>